.feature{
  font-family:Arial,sans-serif;
  border-radius: 10px;
  border: 1px solid hsl(0,0%,80%);
  box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
  margin: 15px;
  padding: 5px;
  display: inline-block;
  text-align: left;
  transition: 0.2s all;
  position: relative;
  width: 350px;
  height: 250px;
  background-color: white;

}
.feature:active {
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        /* Lowering the shadow */
} 

.feature .feature-title{
    color: hsl(163, 100%, 20%);
    padding: 6px;
}

.feature .feature-text{
    color: hsl(240, 100%, 50%);
    padding: 5px;
}

.feature .feature-img{
    max-width: 100%;
    height: auto;
}

h1{
    font-family:Arial,sans-serif;
    text-align: center;
    background-color: hsl(1, 1%, 90%);
    padding: 10px;
    color: hsl(163, 100%, 20%);
    border: 2px solid;
    border-radius: 15px;
}

.Input{
    font-family:Arial,sans-serif;
    border-radius: 10px;
    border: 1px solid hsl(0,0%,80%);
    position: absolute;
    background-color: hsl(1, 1%, 90%);
    top: 180px;
    left: 540px;
    width: 450px;
    padding: 15px;
}

.Input2{
    font-family:Arial,sans-serif;
    border-radius: 10px;
    border: 1px solid hsl(0,0%,80%);
    position: absolute;
    background-color: hsl(1, 1%, 90%);
    top: 260px;
    left: 540px;
    width: 450px;
    padding: 15px;
}

.Input3{
    font-family:Arial,sans-serif;
    border-radius: 10px;
    border: 1px solid hsl(0,0%,80%);
    position: absolute;
    background-color: hsl(1, 1%, 90%);
    top: 340px;
    left: 540px;
    width: 450px;
    padding: 15px;
}

.cred-button{
     font-family:Arial,sans-serif;
     font-weight: bold;
     font-size: 20px;
     border-radius: 10px;
     border: 1px solid hsl(0,0%,80%);
     position: absolute;
     top: 420px;
     left: 538px;
     width: 485px;
     padding: 15px;
     transition: 0.2s all;
     background-color: hsl(163, 100%, 40%);;
     color: white;
     cursor: pointer;
}

.cred-button:active {
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
} 

h4{
    font-family:Arial,sans-serif;
    font-size: 60px;
    position: absolute;
    top: 13px;
    left: 600px;
}

.user_img{
    position: absolute;
    top: 173px;
    left: 965px;
    width: 60px;
}

.user_img2{
    position: absolute;
    top: 258px;
    left: 967px;
    width: 50px;
}

.user_img3{
    position: absolute;
    top: 336px;
    left: 968px;
    width: 55px;
}

.SendToRegisterOrLogin{
    font-family:Arial,sans-serif;
    font-weight: bold;
    position: absolute;
    top: 500px;
    left: 548px;
}

h3{
    font-family:Arial,sans-serif;
    font-size: 60px;
    position: absolute;
    top: 63px;
    left: 690px;
}

.Input4{
    font-family:Arial,sans-serif;
    border-radius: 10px;
    border: 1px solid hsl(0,0%,80%);
    position: absolute;
    background-color: hsl(1, 1%, 90%);
    top: 240px;
    left: 540px;
    width: 450px;
    padding: 15px;
}

.user_img4{
    position: absolute;
    top: 233px;
    left: 965px;
    width: 60px;
}

.CheckUsername{
    font-family:Arial,sans-serif;
    color: red;
    position: absolute;
    top:220px;
    left: 545px;
}

.CheckEmail{
    font-family:Arial,sans-serif;
    color: red;
    position: absolute;
    top:300px;
    left: 545px;
}

.CheckPassword{
    font-family:Arial,sans-serif;
    color: red;
    position: absolute;
    top:380px;
    left: 545px;
}
